body{
  font-family: 'Source Code Pro', monospace;
  background-color:yellow;
}
.header{
  width:auto;
  height:auto;
  background-color:green;
  text-align:center;
}
#title{
  font-size:40px;
  padding-bottom:0px;
}
#title-text{
  font-size:20px;
}
.cookie-generator{
  text-align:center;
}
#fortune-onclick{
  height:200px;
  width:auto;
}
#fortune-text{
  font-size:15px;
}
.fortune-buttons{
  height:50px;
  width:100px;
  background-color:pink;
}
#previous-fortunes{
  max-height: 250px;
  overflow-y:auto;
}